<table>
<% if params[:action] == 'new' %>
  <% days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
  <% days.each do |d| %>  
    <%= f.fields_for :schedules do |schedule| %>
      <%= schedule.hidden_field :weekday, value: d %>
      <tr>
        <td align="right"<%= t("#{d}") %>:</td>
        <td>
          <%= schedule.time_field :s_in %>
          até
          <%= schedule.time_field :s_to %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% else %>
  <% @company.schedules.each do |company| %>
    <%= f.fields_for :schedules, company do |schedule| %>
      <tr>
        <td align="right"><%= t("#{company.weekday}") %>:</td>
        <td>

          <%= schedule.time_field :s_in %>
          até
          <%= schedule.time_field :s_to %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>
</table>
