<%= form_for("user", :url => user_registration_path,
           :html => {:id => "sign_in_user"},
           :remote => true ) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.submit 'Entrar', class: 'sign_in', data: { disable_with: "Aguarde..." } %>
  </div>

  <%= f.submit 'Criar Conta', class: 'btn', data: { disable_with: "Aguarde..." } %>

<% end %>
