<div class="row">
  <div class="col-md-8">
  <% if locale.to_s == 'pt' %>
    <%= image_tag('welcome-pt.png', class: "img-responsive text-facil") %>
  <% elsif locale.to_s == 'es' %>
    <%= image_tag('welcome-es.png', class: "img-responsive text-facil") %>
  <% else %>
    <%= image_tag('welcome-en.png', class: "img-responsive text-facil") %>
  <% end %>
  </div>
  <div class="col-md-4 social">
    <h5 align="center"><%= t('follow') %></h5>
    <div class="icons-social" align="center">
      <p><a href="" title=""><img src="assets/pages/icon-skype.png" width="50" alt="" class="img-responsive"></a></p>
      <p><a href="" title=""><img src="assets/pages/icon-fb.png" width="50" alt="" class="img-responsive"></a></p>
      <p><a href="" title=""><img src="assets/pages/icon-tw.png" width="50" alt="" class="img-responsive"></a></p>
    </div>
  </div>
</div>

<div class="row">
  <%= form_tag search_path, :method => :get, name: "search" do %>
    <div class="col-md-12 box-cambio">
      <div class="row">
        <div class="col-md-4 box-left have">
          <label><%= t('have') %>
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"></label><br>
          <%= select_tag :have, options_from_collection_for_select(Currency.select('id,name'), :id, :name), {class: 'combobox form-control c_have', prompt: "#{t('select_currency')}", autofocus: true} %>
        </div>

        <div class="col-md-4 box-left want">
          <img src="assets/pages/flexa-left.png" height="70" alt=""  class="flexa-left">
          <label><%= t('want') %>
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"> 
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"> 
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"></label><br>
          <%= select_tag :want, options_from_collection_for_select(Currency.select('id,name'), :id, :name), {class: 'combobox input-large form-control', prompt: "#{t('select_currency')}"} %>
          <img src="assets/pages/flexa-left.png" height="70" alt=""  class="flexa-right">
        </div>
        <div class="col-md-4 box-left where">
          <label><%= t('where') %>
            <img src="assets/pages/icon-pin.png" height="25" alt="" class="icon-dinheiro"><br>
          </label>
          <%= select_tag :where, option_groups_from_collection_for_select(Country.select('id,name').order('name').includes(:cities), :cities, :name, :id, :name) , {class: 'combobox input-large form-control', prompt: "#{t('select_city')}"}%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" align="center">
        <button type="submit" class="submit-cambio">
          <img src="assets/pages/lupa.png" height="32" alt="procurar">  <%= t('spare') %>!
        </button>
        <br>
        <br>
        <p class="aviso-botao-procurar"><%= t('obs1') %></p>
      </div>
    </div>
  <% end %>
  <div class="row newsletter">
    <div class="col-md-6 newsletter-left">
      <img src="assets/pages/icon-newsletter.png" height="120" alt="">
      <p><%= t('newsletters1')%><br>
      <%= t('newsletters2')%> <span><%= t('newsletters3')%></span> <%= t('newsletters4')%></p>
    </div>
    <div class="col-md-6 form-email">
      <div id="newsletters">
        <%= render partial: "/newsletters/form", locals: {newsletter: Newsletter.new} %>
      </div>      
      <div id="newsletters_mensagem" class="alert alert-success" style="display:none" align="center">
        <%= t('thank_newsletters') %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="adshere" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"></h4>
      </div>      
      <div id="contacts">
        <%= render partial: "/contacts/form", locals: {contact: Contact.new} %>
      </div>
      <div id="contacts_mensagem" class="modal-body alert alert-success" style="display:none; margin: 10px;" align="center">
        Obrigado!
      </div>
    </div>
  </div>
</div>