<div class="row">
  <div class="col-md-8">
    <img src="assets/pages/text-facil.png" alt="" class="img-responsive text-facil">
  </div>
  <div class="col-md-4 social">
    <h5 align="center"><%= t('follow') %></h5>
    <div class="icons-social" align="center">
      <p><a href="" title=""><img src="assets/pages/icon-skype.png" width="50" alt="" class="img-responsive"></a></p>
      <p><a href="" title=""><img src="assets/pages/icon-fb.png" width="50" alt="" class="img-responsive"></a></p>
      <p><a href="" title=""><img src="assets/pages/icon-tw.png" width="50" alt="" class="img-responsive"></a></p>
    </div>
  </div>
</div>

<div class="row">
  <%= form_tag search_path, :method => :get, name: "search" do %>
    <div class="col-md-12 box-cambio">
      <div class="row">
        <div class="col-md-4 box-left have">
          <label><%= t('have') %>
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"></label><br>
          <%= select_tag :have, options_from_collection_for_select(Currency.select('id,name'), :id, :name), {class: 'combobox form-control c_have', prompt: "#{t('select_currency')}", autofocus: true} %>
        </div>

        <div class="col-md-4 box-left want">
          <img src="assets/pages/flexa-left.png" height="70" alt=""  class="flexa-left">
          <label><%= t('want') %>
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"> 
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"> 
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"></label><br>
          <%= select_tag :want, options_from_collection_for_select(Currency.select('id,name'), :id, :name), {class: 'combobox input-large form-control', prompt: "#{t('select_currency')}"} %>
          <img src="assets/pages/flexa-left.png" height="70" alt=""  class="flexa-right">
        </div>
        <div class="col-md-4 box-left where">
          <label><%= t('where') %>
            <img src="assets/pages/icon-pin.png" height="25" alt="" class="icon-dinheiro"><br>
          </label>
          <%= select_tag :where, option_groups_from_collection_for_select(Country.select('id,name').order('name').includes(:cities), :cities, :name, :id, :name) , {class: 'combobox input-large form-control', prompt: "#{t('select_city')}"}%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" align="center">
        <button type="submit" class="submit-cambio" ng-disabled="search.$invalid">
          <img src="assets/pages/lupa.png" height="32" alt="procurar">  <%= t('spare') %>!
        </button>
        <br>
        <br>
        <p class="aviso-botao-procurar"><%= t('obs1')%></p>        
      </div>
    </div>
  <% end %>
  <div class="row newsletter">
    <div class="col-md-6 newsletter-left">
      <img src="assets/pages/icon-newsletter.png" height="120" alt="">
      <p>Receba por e-mail as cotações de nossas casas <br>
      de câmbio, e as <span>nossas novidades</span> do site!</p>
    </div>
    <div class="col-md-6 form-email">
        <p align="right"><input type="text" name="" value="" placeholder="Digite seu e-mail"></p>
        <p align="right"><button type="submit"><img src="assets/pages/icon-email.png" height="16" alt=""> ENVIAR</button></p>
        <p align="right"> <input type="checkbox" name="" value="0"> Aceito receber e-mails do <strong>AquiCambio.</strong></p>
    </div>
  </div>
</div>
