<div id="meuMenu">
  <%= form_tag search_path, :method => :get, name: "search" do %>
    <div class="col-md-12 box-cambio">
      <div class="row">
        <div class="col-md-4 box-left have">
          <label>EU TENHO 
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"></label><br>
          <%= select_tag :have, options_from_collection_for_select(Currency.select('id,name'), :id, :name, params[:have]), id: "have", :required => true %>
        </div>

        <div class="col-md-4 box-left want">
          <img src="assets/pages/flexa-left.png" height="70" alt=""  class="flexa-left">
          <label>EU QUERO
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"> 
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"> 
          <img src="assets/pages/icon-dinheiro.png" height="25" alt="" class="icon-dinheiro"></label><br>
          <%= select_tag :want, options_from_collection_for_select(Currency.select('id,name'), :id, :name, params[:want]), id: "want", :required => true %>
          <img src="assets/pages/flexa-left.png" height="70" alt=""  class="flexa-right">
        </div>
        <div class="col-md-4 box-left where">
          <label>ONDE? 
          <img src="assets/pages/icon-pin.png" height="25" alt="" class="icon-dinheiro"><br>
          <%= select_tag :where, option_groups_from_collection_for_select(Country.select('id,name').order('name'), :cities, :name, :id, :name, params[:where]), id: "where", :required => true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" align="center">
        <button type="submit" class="submit-cambio" ng-disabled="search.$invalid">
          <img src="assets/pages/lupa.png" height="32" alt="procurar"> ECONOMIZAR!
        </button>
        <br>
        <br>
        <p class="aviso-botao-procurar">Os valores são atualizados <strong>exclusivamente pelas Casa de Câmbio</strong> e estão sujeitos à alterações a qualquer momento pelas mesmas.</p>        
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @companies.present? %>
      <div class="result-search" id="search">
        <ul>
          <% @companies.each do |c| %>
            <li class="title ccBranchOfficeMap" data-coordenada="<%= c.company.latitude %>,<%= c.company.longitude %>,<%= c.company.id %>">
              <div class="result-content">
                <div class="thumbnail thumb-circle">
                  <%= image_tag c.company.avatar.url(:medium) %>
                </div>
                <div class="result-content-name" align="center">
                  <%= c.company.name %>
                  <br>
                  <span class="result-content-status">Aberto</span>
                </div>
                <div class="result-content-amount" align="center">
                  <strong><%= number_to_currency(c.amount, :format=>' %n ', :precision => c.def_format ) %></strong>
                  <br>
                  <img src="assets/pages/timer.png" height="15" alt="procurar">
                  <span class="result-content-timer">Atualizado há <b><%= time_ago_in_words(c.created_at) %></b></span>
                  <br>
                  <%= link_to 'Veja Mais', '#', class: 'result-content-veja-mais' %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>      
      </div>
    <% else %>
      <h3 align="center">Nenhuma cotação encontrada :( </h3>
    <% end %>
  </div>
</div>
</div>
<input type="hidden" name="" value="" placeholder="" id="close-info">
<div id="map-canvas"></div>