<%= form_for( [:admin, @country] , html:  {:multipart => true, class: "form-horizontal"})  do |f| %>
  <div class="row-fluid">
    <div class="span12">
      <% if @country.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

          <ul>
          <% @country.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <h3 class="heading">NOVO PAÍS</h3>
      <div class="control-group formSep">  
      <table>
        <tr>
          <td align="right">País:</td>
          <td><%= f.text_field :name, size: '30', placeholder: 'Nome do País' %><span class="f_req">*</span></td>
        </tr>
      </table>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Gravar', data: { disable_with: "Aguarde..." }, class: "btn btn-gebo" %>
      <%= link_to 'Voltar', admin_countries_path, :class => "btn" %> 
    </div>
  </div>
<% end %>
