<p id="notice"><%= notice %></p>

<p>
  <strong>In:</strong>
  <%= @schedule.in %>
</p>

<p>
  <strong>To:</strong>
  <%= @schedule.to %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @schedule.weekday %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
