<%= form_for( [:admin, @user] , html:  {:multipart => true, class: "form-horizontal"})  do |f| %>
  <div class="row-fluid">
    <div class="span12">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <h3 class="heading">USUÁRIO</h3>
      <div class="control-group formSep">  
      <table>
        <tr>
          <td align="right">E-mail:</td>
          <td><%= f.text_field :email, size: '30', placeholder: 'Nome do Estado' %><span class="f_req">*</span></td>
        </tr>
        <tr>
          <td align="right">Senha:</td>
          <td><%= f.password_field :password, autocomplete: "off" %><span class="f_req">*</span></td>
        </tr>
        <tr>
          <td align="right">Confirma-Senha:</td>
          <td><%= f.password_field :password_confirmation, autocomplete: "off" %><span class="f_req">*</span></td>
        </tr>
        <tr>
          <td align="right">Permissão:</td>
          <td>
            <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
          </td>
        </tr>
      </table>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Gravar', data: { disable_with: "Aguarde..." }, class: "btn btn-gebo" %>
      <%= link_to 'Voltar', admin_users_path, :class => "btn" %> 
    </div>
  </div>
<% end %>
