<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Aqui Cambio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/assets/pages/pin-aquicambio.png">
        <link href="/assets/pages/pin-aquicambio.png" rel="shortcut icon" />

        <%= stylesheet_link_tag "page", media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script>
          //* hide all elements & show preloader
          document.documentElement.className += 'js';
        </script>
    </head>
    <body ng-app>
    <div id="loading_layer" style="display:none"> <div class='uil-facebook-css' style='-webkit-transform:scale(0.25)'><div></div><div></div><div></div></div></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand menu-topo">
            <% if user_signed_in? %>
              <a href="#"><img src="../assets/pages/icon-user.png" height="16" alt="entrar"> <%= current_user.email %></a> |
              <i class="fa fa-sign-out"></i><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
                <%= link_to new_user_session_path do %>
                  <img src="../assets/pages/icon-user.png" height="16" alt="entrar">ENTRAR |
                <% end %>
                <%= link_to new_user_registration_path do %>
                  Cadastre-se
                <% end %>
            <% end %>
          </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right localize menu-topo">
          <a href="" title="">PT</a>
          <a href="" title="">EN</a>
          <a href="" title="">ES</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right menu-topo">
          <a href="" title="">FALE CONOSCO </a> |
          <a href="" title="">ANUNCÍE AQUI</a>
        </div>

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <%= link_to image_tag("pages/logo.png", class: 'logo', width: 300), root_path %>
        <div class="form-busca">
          <input type="text" id="search_companies" placeholder="Digite o nome da casa de Câmbio que procura">
          <button type="submit">PROCURAR</button>
        </div>
      </div>
    </div>

    <div class="container principal">
      <%= yield %>
    <footer>
    <p>As taxas são passíveis de alteração, confirme o preço junto à casa de câmbio. A tabela acima é uma média das operações registradas periodicamente pela equipe AquiCambio e serve apenas como indicativo, não somos responsáveis pelos 
    referidos valores. Há diversos fatores que influenciam os valores praticados em determinado momento e que variam continuamente, tais como a taxa de câmbio, o valor da operação ou a tarifa praticada.</p>  
    
    <p><b>AquiCambio.com</b>  com sede na cidade de Ciudad del Este, Km 9,5, Alto Paraná, Paraguay / RUC 858555-76</p>
    <br>
    <p class="termos-de-uso"><img src="../assets/pages/icon-alert.png" height="25" alt="Termos de uso"> <a>TERMOS DE USO E CONDIÇÕES</a></p>
    <div class="rows">
      <div class="col-md-4 sugira" align="center">
        <p>SENTIU FALTA DE ALGUMA CASA DE CÂMBIO?</p>
        <p><a href="#" title="" class="sugira"><img src="../assets/pages/icon-dedo.png" height="30" alt="sugira aqui" > SUGIRA AQUI</a></p>
      </div>
      <div class="col-md-4 logo-rodape" align="center">
        <img src="../assets/pages/logo-horizontal.png" width="281" alt="">
      </div>
      <div class="col-md-4" align="center">
        <p>BAIXE NOSSO APP NO SEU SMARTFHONE <img src="../assets/pages/seta.png" height="30" alt=""></p>
        <p>
        <img src="../assets/pages/icon-googleplay.png" width="150" height="52" alt="" class="icon-gp">
        <img class="espaco" src="../assets/pages/icon-appstore.png" width="150" alt="" class="icon-as">          
        </p>
      </div>
    </div>
    </footer>
    <div class="barra-footer"></div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <%= javascript_include_tag "page", 'data-turbolinks-track' => true %>
        <script type="text/javascript">

          var infowindow;
          $(function() {
            map = new GMaps({
              div: '#map-canvas',
              lat: <%= @companies_map.first.latitude if @companies_map.present? %>,
              lng:  <%= @companies_map.first.longitude if @companies_map.present? %>,
              zoom: 16,
              scrollwheel: false,
              styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#ff0000"}]},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"lightness":"100"}]},{"featureType":"landscape.man_made","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"lightness":"100"}]},{"featureType":"landscape.natural","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural.landcover","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"landscape.natural.terrain","elementType":"geometry","stylers":[{"lightness":"100"}]},{"featureType":"landscape.natural.terrain","elementType":"geometry.fill","stylers":[{"visibility":"off"},{"lightness":"23"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffcd00"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#ffd900"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#cccccc"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"off"}]}]
            });

            google.maps.Map.prototype.clearMarkers = function() {
              if(infowindow) {
                infowindow.close();
              }
                
              for(var i=0; i<this.markers.length; i++){
                this.markers[i].set_map(null);
              }
            };
        <% @companies_map.each do |c| %>
          marck<%= c.company_id %> = map.addMarker({
              lat: <%= c.latitude %>,
              lng: <%= c.longitude %>,
              icon: '<%= c.company.pin.url %>',
              title: '<%= c.name %>',
              infoWindow: {
                content: '<div class="map-content" align="center"><div class="thumbnail infowin-thumb-circle" align="center"><%= image_tag c.company.avatar.url(:medium) %></div><h3><%= c.company.name %></h3><h2>Aberto ao público</h2><div class="valor"><img src="/assets/pages/icon-dinheiro.png" alt="" width="23" height="32" class="flexa-right" ><%= number_to_currency(c.amount, :format=>"%n", :precision => c.def_format ) %></div><div class="endereco"><%= c.address%></div><div class="telefone">Tel: <%= c.telephone %></div><div class="oferta"><a>Faça uma oferta!</a></div></div>'
              }
            });
        <% end %>
            $('.ccBranchOfficeMap').click(function(){
              coordenada = $(this).attr('data-coordenada').split(',');
              var open_info  = eval('marck' + coordenada[2]);
              var close_info  = eval($("#close-info").val());
              map.setCenter(coordenada[0],coordenada[1]);
              $('html, body').stop().animate({
                  scrollTop: ($("#map-canvas").offset().top - 150)
              }, 1250, 'easeInOutExpo');

              map.setZoom(17);
              if ($("#close-info").val() != "") {
                (close_info.infoWindow).close(close_info.map, close_info);  
              };
              
              $("#close-info").val('marck' + coordenada[2]);
              (open_info.infoWindow).open(open_info.map, open_info);
            });
          });          
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script type="text/javascript">
          $(document).ready(function() {
            //* show all elements & remove preloader
            setTimeout('$("html").removeClass("js")', 2000);
          });

          window.onload=function(){
            $('html, body').stop().animate({
                scrollTop: ($("#search").offset().top - 140)
            }, 2500, 'easeInOutExpo');
          };
        </script>


        <script type="text/javascript">
            var map;
            $(document).ready(function(){
              prettyPrint();
              map = new GMaps({
                div: '#map',
                lat: -12.043333,
                lng: -77.028333
              });
              map.drawRoute({
                origin: [-12.044012922866312, -77.02470665341184],
                destination: [-12.090814532191756, -77.02271108990476],
                travelMode: 'driving',
                strokeColor: '#131540',
                strokeOpacity: 0.6,
                strokeWeight: 6
              });
            });
          </script>


        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>             
    </body>
</html>
