<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Aqui Cambio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <%= stylesheet_link_tag "page", media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body style="cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur") 8 8, default;">
    <script type="text/javascript">
      window.parent.frames['gm-master'].initWidget(window);
    </script>
      <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <% if user_signed_in? %>
              <a href="#"><img src="../assets/pages/icon-user.png" height="16" alt="entrar"> <%= current_user.email %></a> |
              <i class="fa fa-sign-out"></i><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
                <%= link_to new_user_session_path do %>
                  <img src="../assets/pages/icon-user.png" height="16" alt="entrar">ENTRAR |
                <% end %>
                <%= link_to new_user_registration_path do %>
                  Cadastre-se
                <% end %>
            <% end %>
          </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right localize">
          <a href="" title="">PT</a>
          <a href="" title="">EN</a>
          <a href="" title="">ES</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <a href="" title="">FALE CONOSCO </a> |
          <a href="" title="">ANUNCÍE AQUI</a>
        </div>

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <%= link_to image_tag("pages/logo.png", class: 'logo', width: 300), root_path %>
        <div class="form-busca">
          <input type="text" name="" value="" placeholder="Digite o nome da casa de Câmbio que procura">
          <button type="submit">PROCURAR</button>
        </div>
        <img src="../assets/pages/icon-googleplay.png" width="200" height="72" alt="" class="icon-gp">
        <img src="../assets/pages/icon-appstore.png" width="200" alt="" class="icon-as">
      </div>
    </div>

    <div class="container principal">
      <%= yield %>
    <footer>
    <p>As taxas são passíveis de alteração, confirme o preço junto à casa de câmbio. A tabela acima é uma média das operações registradas periodicamente pela equipe Jooin e serve apenas como indicativo, não somos responsáveis pelos 
    referidos valores. Há diversos fatores que influenciam os valores praticados em determinado momento e que variam continuamente, tais como a taxa de câmbio, o valor da operação ou a tarifa praticada.</p>  
    <p>4MOEDAS INFORMAÇÃO E TECNOLOGIA LTDA com sede na cidade de Foz do Iguaçu, Estado do Paraná,, inscrita no CNPJ/MF sob o nº 09.419.682/0001-46</p>
    <div class="rows">
      <div class="col-md-4 sugira" align="center">
        <p>SENTIU FALTA DE ALGUMA CASA DE CÂMBIO?</p>
        <p><a href="#" title="" class="sugira"><img src="../assets/pages/icon-dedo.png" height="30" alt="sugira aqui" > SUGIRA AQUI</a></p>
      </div>
      <div class="col-md-4" align="center">
        <img src="../assets/pages/logo-horizontal.png" width="400" alt="">
      </div>
      <div class="col-md-4" align="center">
        <p>BAIXE NOSSO APP NO SEU SMARTFHONE <img src="../assets/pages/seta.png" height="30" alt=""></p>
        <p>
        <img src="../assets/pages/icon-googleplay.png" width="150" height="52" alt="" class="icon-gp">
        <img src="../assets/pages/icon-appstore.png" width="150" alt="" class="icon-as">          
        </p>
      </div>
    </div>

    </footer>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <%= javascript_include_tag "page", 'data-turbolinks-track' => true %>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

        <script type="text/javascript">

          var infowindow;
          $(function() {
            map = new GMaps({
              div: '#map-canvas',
              lat: -23.501831,
              lng: -57.771206,
              zoom: 6,
              scrollwheel: false

            });

            google.maps.Map.prototype.clearMarkers = function() {
                if(infowindow) {
                  infowindow.close();
                }
                
                for(var i=0; i<this.markers.length; i++){
                  this.markers[i].set_map(null);
                }
              };
        <% @companies.each do |c| %>
          marck<%= c.company.id %> = map.addMarker({
              lat: <%= c.company.latitude %>,
              lng: <%= c.company.longitude %>,
              icon: '/assets/pages/pin-aquicambio.png',
              title: '<%= c.company.name %>',  
              id: 1234,    
              infoWindow: {
                content: '<div class="map-content" align="center"><h3><%= c.company.name %></h3><p><div class="thumbnail infowin-thumb-circle"><%= image_tag c.company.avatar.url(:medium) %></div></p><p><%= c.company.address%><br/><a href="tel:<%= c.company.telephone %>"><%= c.company.telephone %></div>'
              }
            });
          <% end %>
            $('.ccBranchOfficeMap').click(function(){
              coordenada = $(this).attr('data-coordenada').split(',');
              var open_info  = eval('marck' + coordenada[2]);
              var close_info  = eval($("#close-info").val());
              map.setCenter(coordenada[0],coordenada[1]);
              $('html, body').stop().animate({
                  scrollTop: ($("#map-canvas").offset().top - 50)
              }, 1250, 'easeInOutExpo');

              map.setZoom(19);
              if ($("#close-info").val() != "") {
                (close_info.infoWindow).close(close_info.map, close_info);  
              };
              
              $("#close-info").val('marck' + coordenada[2]);
              (open_info.infoWindow).open(open_info.map, open_info);
            });
          });
          
        </script>
        <script type="text/javascript">

          $(function () {
            $("#quero").selectbox();
          });

          $(function () {
            $("#tenho").selectbox();
          });

        </script>               

    </body>
</html>
