<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AquiCambio.com - <%= t('t-aba') %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/assets/pages/pin-aquicambio.png">
        <link href="/assets/pages/pin-aquicambio.png" rel="shortcut icon" />
        <meta name="description" content="<%= t('header-description') %>" />
        <meta name="keywords" content="<%= t('header-keywords') %>" />
        <meta property="og:locale" content="<%= locale %>">
        <meta property="og:url" content="http://www.aquicambio.com" />
        <meta property="og:title" content="<%= t('t-aba') %>" />
        <meta property="og:image" content="http://www.aquicambio.com/assets/pages/pin-aquicambio.png" />

        <meta property="og:site_name" content="AquiCambio" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="<%= t('header-description') %>" />
        <%= stylesheet_link_tag "page", media: 'all', 'data-turbolinks-track' => true %>        
        <%= csrf_meta_tags %>
        <script>
          //* hide all elements & show preloader
          document.documentElement.className += 'js';
        </script>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    </head>
    <body ng-app>
    <div id="loading_layer" style="display:none"> <div class='uil-facebook-css' style='-webkit-transform:scale(0.25)'><div></div><div></div><div></div></div></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand menu-topo">
          </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right localize menu-topo">
          <% if locale.to_s == 'pt' %>
            PT
            <%= link_to "ES", locale: 'es' %>
            <%= link_to "EN", locale: 'en' %>
          <% elsif locale.to_s == 'es' %>
            <%= link_to "PT", locale: 'pt' %>
            ES
            <%= link_to "EN", locale: 'en' %>
          <% else %>
            <%= link_to "PT", locale: 'pt' %>
            <%= link_to "ES", locale: 'es' %>
            EN         
          <% end %>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right menu-topo">
          <a href="" title="fale conosco"  data-toggle="modal" data-target="#adshere" data-whatever="getcontact"><%= t('contact_us') %></a> |
          <a href="" title="anuncie aqui" data-toggle="modal" data-target="#adshere" data-whatever="getads"><%= t('advertise_here') %></a>
        </div>

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <%= link_to image_tag("pages/logo.png", class: 'logo'), root_path %>
        <div class="form-busca">
          <input type="text" id="search_companies" placeholder='<%= t("placeholder_search")%>'>
          <button type="submit"><%= t('search') %></button>
        </div>
      </div>
    </div>

    <div class="container principal">
      <%= yield %>
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <p><%= t('info_footer1') %></p>
        <p><%= t('info_footer2') %> <b>AquiCambio.com</b> <%= t('adress') %></p>
      </div>

      <div class="rows">
        <div class="col-md-4 sugira" align="center">
        </div>
        <div class="col-md-4 logo-rodape" align="center">
          <img src="../assets/pages/logo-horizontal.png" alt="logo aquicambio">
          <br>
        </div>
        <div class="col-md-4" align="center">
        </div>
      </div>
    </footer>
    <div class="barra-footer"></div>
    <a href="#0" class="cd-top">Top</a>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <%= javascript_include_tag "page", 'data-turbolinks-track' => true %>
        <script type="text/javascript">
          $(document).ready(function() {
            //* show all elements & remove preloader
            setTimeout('$("html").removeClass("js")', 1000);
          });
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-49438220-5', 'auto');
          ga('send', 'pageview');

        </script>

    </body>
</html>
